In [7]:
import numpy as np
import pandas as pd
import os
import seaborn as sns

In [3]:
path = "/Users/kofiassabil/Documents"
os.chdir(path)
df_players = pd.read_csv('nba_stats.csv')
df_players.head()

,Unnamed: 0,Rk,PLAYER,POSITION,AGE,MP,FG,FGA,FG%,3P,...,GP,MPG,ORPM,DRPM,RPM,WINS_RPM,PIE,PACE,W,SALARY_MILLIONS
0,0,1,Russell Westbrook,PG,28,34.6,10.2,24.0,0.425,2.5,...,81,34.6,6.74,-0.47,6.27,17.34,23.0,102.31,46,26.50
1,1,2,James Harden,PG,27,36.4,8.3,18.9,0.440,3.2,...,81,36.4,6.38,-1.57,4.81,15.54,19.0,102.98,54,26.50
2,2,4,Anthony Davis,C,23,36.1,10.3,20.3,0.505,0.5,...,75,36.1,0.45,3.90,4.35,12.81,19.2,100.19,31,22.12
3,3,6,DeMarcus Cousins,C,26,34.2,9.0,19.9,0.452,1.8,...,72,34.2,3.56,0.64,4.20,11.26,17.8,97.11,30,16.96
4,4,7,Damian Lillard,PG,26,35.9,8.8,19.8,0.444,2.9,...,75,35.9,4.63,-1.49,3.14,10.72,15.9,99.68,38,24.33

In [4]:
df_players.info() #check if there are any null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       239 non-null    int64
 1   Rk               239 non-null    int64
 2   PLAYER           239 non-null    object
 3   POSITION         239 non-null    object
 4   AGE              239 non-null    int64
 5   MP               239 non-null    float64
 6   FG               239 non-null    float64
 7   FGA              239 non-null    float64
 8   FG%              239 non-null    float64
 9   3P               239 non-null    float64
 10  3PA              239 non-null    float64
 11  3P%              232 non-null    float64
 12  2P               239 non-null    float64
 13  2PA              239 non-null    float64
 14  2P%              239 non-null    float64
 15  eFG%             239 non-null    float64
 16  FT               239 non-null    float64
 17  FTA              239 non-null    float64
 18  FT%              237 non-null    float64
 19  ORB              239 non-null    float64
 20  DRB              239 non-null    float64
 21  TRB              239 non-null    float64
 22  AST              239 non-null    float64
 23  STL              239 non-null    float64
 24  BLK              239 non-null    float64
 25  TOV              239 non-null    float64
 26  PF               239 non-null    float64
 27  POINTS           239 non-null    float64
 28  TEAM             239 non-null    object
 29  GP               239 non-null    int64
 30  MPG              239 non-null    float64
 31  ORPM             239 non-null    float64
 32  DRPM             239 non-null    float64
 33  RPM              239 non-null    float64
 34  WINS_RPM         239 non-null    float64
 35  PIE              239 non-null    float64
 36  PACE             239 non-null    float64
 37  W                239 non-null    int64
 38  SALARY_MILLIONS  239 non-null    float64
dtypes: float64(31), int64(5), object(3)
memory usage: 72.9+ KB

In [6]:
df_players_sorted = df_players.sort_values(by = 'SALARY_MILLIONS', ascending= False)
df_players_sorted.head() #sorting players by highest salaries first

,Unnamed: 0,Rk,PLAYER,POSITION,AGE,MP,FG,FGA,FG%,3P,...,GP,MPG,ORPM,DRPM,RPM,WINS_RPM,PIE,PACE,W,SALARY_MILLIONS
5,5,8,LeBron James,SF,32,37.8,9.9,18.2,0.548,1.7,...,74,37.8,6.49,1.93,8.42,20.43,18.3,98.38,51,30.96
23,23,29,Mike Conley,PG,29,33.2,6.7,14.6,0.460,2.5,...,69,33.2,4.67,-0.20,4.47,10.50,16.0,94.64,35,26.54
60,60,78,Al Horford,C,30,32.3,5.6,11.8,0.473,1.3,...,68,32.3,0.76,1.06,1.82,6.93,12.5,98.96,46,26.54
9,9,12,Kevin Durant,SF,28,33.4,8.9,16.5,0.537,1.9,...,62,33.4,4.41,1.33,5.74,12.24,18.6,103.71,51,26.50
1,1,2,James Harden,PG,27,36.4,8.3,18.9,0.440,3.2,...,81,36.4,6.38,-1.57,4.81,15.54,19.0,102.98,54,26.50